body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ddd;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    background-color: #222; /* Negro */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }

  th, td {
    border: 1px solid #444; /* Gris oscuro */
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #555; /* Gris más oscuro */
  }

  button {
    padding: 10px;
    background-color: #555; /* Gris más oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #444; /* Gris oscuro al pasar el ratón */
  }