body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    background-color: #aee0ff; /* Azul claro */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #3498db; /* Azul */
    color: white;
  }

  button {
    padding: 10px;
    background-color: #3498db; /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: context-menu;
  }

  button:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
  }